.Login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
    color: black;
    background-color: lightyellow;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

second_button {
    width: 30%;
    margin: 0 auto;
}

.google_signin {
    width: 30%;
    margin: 0 auto;
}

.google_signin p {
    text-align: center;
}

.signup_link {
    text-align: center;
}