.Login {
    margin: 0% 0px 0px 650px;
    color: black;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: row;
    background-color: lightyellow;
    height: 800px;
    width: 500px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.link {
    margin-left: 50px
}