nav {
  /* background: #000; */
  background-color: #013914;
  color: white;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100vw;
  z-index: 999;
  position: fixed;
  align-content: start;
  max-width: 1200;
  margin-left: 0px;
}

.logo {
  font-size: 34px;
  font-weight: bold
}

.logo .dot {
  font-weight: bold;
  color: #1dbf73;
}

nav a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

/* nav a.active {
  color: #15cdfc;
} */

nav .br {
  display: none;
  color: #fff;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  font-size: 10px;
  justify-items: flex-end;
  grid-auto-flow: column;
  flex-direction: row;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  margin-left: 1000px;
  justify-items: flex-end;
  grid-auto-flow: column;
  flex-direction: row;
}

nav .nav-menu a:hover {
  /* transition: all 0.2s ease-in-out; */
  background-color: #1dbf73;
  border-color: #1dbf73;
}

nav .nav-btn {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

nav .nav-btn a {
  border-radius: 4px;
  padding: 10px 22px;
  color: #fff;
  outline-style: solid;
  outline-width: 1px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  nav .nav-menu {
    display: none;
  }

  nav .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  nav .nav-menu.active {
    display: flex;
    flex-direction: column;
    background: #242222;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  nav .nav-menu.active a {
    color: #fff;
    padding: 1.5rem;
    text-align: center;
  }

  nav .nav-btn {
    display: none;
  }
}

.login_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  z-index: 1;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url('/path/to/close_button.svg');
  background-size: contain;
  cursor: pointer;
  color: #000;
  z-index: 9999;
}

.login_popup h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input_field {
  margin-bottom: 20px;
}

.input_field input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.signup_link {
  margin-top: 20px;
}

.signup_link a {
  color: #333;
  text-decoration: underline;
  font-size: 14px;
}

.login_popup p {
  color: #000;
}

#my-signin2 {
  z-index: 2;
}

.navbar {
  display: flex;
}

#my-signin2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.validate {
  color: black;
}