.projectCard{
    width: 252px;
    height: 334px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  
  .info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .info .texts h2 {
    font-size: 14px;
    font-weight: 500;
  }
  
  .info .texts span {
    font-size: 14px;
    font-weight: 300;
  }
  