.noaccount {
    display: grid;
    align-items: center;
    justify-items: center;
}

.account_type {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    flex-direction: row;
    height: 50%;
}

.signup {
    color: black;
    background-color: lightyellow;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 60%;
}

h2 {
    align-self: center;
    justify-self: center;
}