.noaccount {
  display: grid;
  align-items: center;
  justify-items: center;
}

.account_type {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}

.signup {
  color: black;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-auto-flow: row;
  margin: 0% 0px 0px 550px;
  background-color: lightyellow;
  height: 800px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

h2 {
  align-self: center;
  justify-self: center;
}